.markdown-preview-view mark,
.cm-s-obsidian span.cm-highlight {
    font-weight: normal;
    color: auto;
    background-color: transparent;
    border-radius: 0px;
border-bottom: 1.5px solid #ff0052;
color: hsla(0,0%,100%,.8);
transition: background 80ms ease;
}

.markdown-preview-view mark:hover {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 0.7s linear infinite;}@keyframes shift {from {transform:translateX(-10px);}to {transform:translateX(0);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff0052' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
background-position: 0 100%;
background-size: auto 36px;
background-repeat: repeat;
border-bottom: none;
padding-bottom: 3px;
cursor: default;
}
